<table summary="Section form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Id</th>
    <td><%= f.text_field(:id) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.text_field(:position) %></td>
  </tr>
  <tr>
    <th>Page Id</th>
    <td><%= f.text_field(:page_id) %></td>
  </tr>
  <tr>
    <th>Visibile</th>
    <td><%= f.text_field(:visibile) %></td>
  </tr>
  <tr>
    <th>Content</th>
    <td><%= f.text_field(:content) %></td>
  </tr>
</table>
