<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>

<div class="sections index">
  <h2>Sections</h2>
  <%= link_to("add new section", new_section_path, :class => 'action new') %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>Section</th>
      <th>Visibile</th>
      <th>Name</th>
      <th>Content</th>
      <th>Action</th>
    </tr>
    <% @sections.each do |section| %>
        <tr>
          <td><%= section.position %></td>
          <td><%= section.name %></td>
          <td class="center"><%= section.visibile ? 'yes' : 'no'%></td>
          <td class="center"><%= section.name %></td>
          <td class="center"><%= section.content %></td>
          <td class="actions">
            <%= link_to("Show", section_path(section), :class => 'action show') %>
            <%= link_to("Edit", edit_section_path(section), :class => 'action edit') %>
            <%= link_to("Delete", delete_section_path(section), :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>