<% @page_title = "List Sections" %>
<%= link_to("<-- back to pages", pages_path(:subject_id => @page.subject.id), :class => 'action list') %>
<!--pages_path(:subject_id => subject.id)-->
<div class="sections index">
  <h2>Sections <%= @page.id %></h2>
  <%= link_to("add new section", new_section_path(:page_id => @page.id), :class => 'action new') %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>Pos. #</th>
      <th>Id</th>
      <th>Page Id</th>
      <th>Name</th>
      <th>Content</th>
      <th>Content Type</th>
      <th>Visibile</th>

      <th>Action</th>
    </tr>
    <% @sections.each do |section| %>
        <tr>
          <td><%= section.position %></td>
          <td><%= section.id %></td>
          <td><%= section.page_id %></td>
          <td><%= truncate(section.name, :length => 30, :separator => "...") %></td>
          <td><%= truncate(section.content, :length => 30, :separator => "...") %></td>
          <td><%= section.content_type %></td>
          <td class="center"><%= status_tag(section.visibile) %></td>
          <td class="actions">
            <%= link_to("Show", section_path(section, :page_id => @page.id), :class => 'action show') %>
            <%= link_to("Edit", edit_section_path(section, :page_id => @page.id ), :class => 'action edit') %>
            <%= link_to("Delete", delete_section_path(section, :page_id => @page.id), :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>