<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="sections new">
  <h2>Create Section</h2>

  <%= form_for(@section, :url => sections_path, :method => 'post') do |f| %>
      <table summary="Section form fiel ds">
        <tr>
          <th>Name</th>
          <td><%= f.text_field(:name) %></td>
        </tr>
        <tr>
          <th>Position</th>
          <td><%= f.text_field(:position) %></td>
        </tr>
        <tr>
          <th>Visibile</th>
          <td><%= f.text_field(:visibile) %></td>
        </tr>
        <tr>
          <th>content</th>
          <td><%= f.text_field(:content) %></td>
        </tr>

      </table>
      <div class="form-buttons">
        <%= f.submit("Create Section") %>
      </div>
  <% end %>
</div>